<body onload = "onPageLoad()">
    <div id = "tokenSection">
        <input class ="btn btn-primary btn-lg" type = "button" onclick = 'requestAuthorization()' value = "Request Authorization">
    </div>
    <div id = "deviceSection" class = "row">
        <div class = "col">
            <div class ="mb-3">
                <!-- <label for ="devices" class ="form-label">Devices</label> -->
                <!-- <select id = "devices" class ="form-control"> -->
                </select>
                <input class = "btn btn-primary btn-sm mt-3" type = "button" onclick = "ApiCalls()" value="Get Api Data">
                <!-- <input type = "button" class="btn btn-dark btn-sm mt-3" onclick= "transfer()" value= "Transfer"> -->
            </div>
        </div>
    </div>
</body>