
body {
  font-family: GeogrotesqueUltraLight, Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}

header #menu a {
  position: relative;
  z-index: 3;
}

header #nav-content .nav-background {
  background: #fff;
  left: -330px;
  position: fixed;
  top: 0;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  width: 100%;
}

header.open #nav-content .nav-background {
  -webkit-transform: translateX(330px);
  -ms-transform: translateX(330px);
  transform: translateX(330px);
}

#menu.open {
  -webkit-transform: translateX(330px);
  -ms-transform: translateX(330px);
  transform: translateX(330px);
}

main.open {
  -webkit-transform: translateX(330px);
  -ms-transform: translateX(330px);
  transform: translateX(330px);
}

#nav-menu {
  display: flex;
  flex-direction: column;
}

#nav-menu li {
  height: 40px !important;
}

#nav-menu a {
  height: 40px !important;
}

main {
  display: block;
  padding: 0 1.95em;
  background: rgb(94, 183, 143);
  height: 100%;
  position: fixed;
  top: 60px;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  width: 100%;
  z-index: 4;
}

.new-posts {
  text-decoration: none;
  color: black;
}
